{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 style="color:blue;" class="text-center">Ideas</h1>

<div class="row no-gutters">
    <div class="col-12">
        <!-- Idea container -->
        <div>
            {% for idea in object.items.all %}
                <p style="color:blue;">
                {{ idea.idea_message }}
            {% endfor %}
        </div>
        <!-- Form to submit new idea -->
        <form method="POST" action="" class="form mb-2" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="text-center">
                <label for="idea_message"><span class="sr-only">Please enter a message</span></label>
                <input type="text" id="idea_message" name="idea_message" class="col-5">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
