{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid p-0">
    <div class="hero-container">
        <div class="hero-overlay"></div>
        <div class="row hero-content">
            <div class="col-12 col-md-8 col-lg-6 mx-auto inner-cont">
                <h1 class="text-center">USE YOUR VOICE</h1>
                <h2 class="text-center">Shining a Light on the Unseen</h2>
            </div>
        </div>
    </div>
    <div class="home-content">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-7 mx-auto">
                <h3>What We Do</h3>
                <hr class="orange-underline">
                <div class="row mx-auto content-row">
                    <div class="col-12 col-md-8">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat
                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="d-none d-md-block col-md-4">
                        <img class="cont-img" src="/media/cont-wwd.png" alt="Image of people writing">
                    </div>
                </div>

                <h3>Accesibility Matters</h3>
                <hr class="orange-underline">
                <div class="row mx-auto content-row">
                    <div class="d-none d-md-block col-md-4">
                        <img class="cont-img" src="/media/am-img.jpg" alt="Image of people using a laptop">
                    </div>
                    <div class="col-12 col-md-8">
                        <p class=" text-sm-left text-md-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed
                            do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <h3>Meet Our Partner</h3>
                <hr class="orange-underline">
                <div class="row mx-auto content-row">
                    <div class="col-12 col-md-8">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum.
                        </p>
                    </div>
                    <div class="d-none d-md-block col-md-4">
                        <img class="cont-soda-img" src="/media/soda-social-logo.png" alt="SodaSocial Logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}