{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Home Page{% endblock %}

{% block content %}
<div class="container-fluid p-0">
    <div class="hero-container">
        <div class="hero-overlay"></div>
        <div class="row hero-content">
            <div class="col-12 col-md-8 col-lg-6 mx-auto inner-cont">
                <h1 class="text-center">USE YOUR VOICE</h1>
                <h2 class="text-center">Shining a Light on the Unseen</h2>
                <a href="{% url 'home'%}#content" class="cta-btn">Learn More</a>
            </div>
        </div>
    </div>
    <div class="home-content">
        <a name="content"></a>
        <div class="row">
            <div class="col-12 col-md-10 col-lg-7 mx-auto">
                <h3 id="first-content">Accesibility Matters</h3>
                <hr class="orange-underline">
                <div class="row mx-auto content-row">
                    <div class="col-12 col-md-8">
                        <p>Accessibility is about removing barriers to enable people to engage and take part in everyday
                            activities.
                            <br>
                            <br>
                            In the work place this involves reducing and overcoming the barriers that might occur for
                            people with disabilities and includes the digital and physical interactions that staff have
                            in the workplace.
                            <br>
                            <br>
                            This does not imply solely wheelchair access ramps, nor does it mean just having braille
                            signs at a business.
                            <br>
                            <br>
                            Some disabilities hidden and not immediately obvious, such as learning difficulties, mental
                            health as well as mobility, speech, visual or hearing impairments. Working with a hidden
                            disability can make tasks more demanding, but it can be difficult for others to identify,
                            acknowledge or understand the challenges staff face.
                            <br>
                            <br>
                            However, bringing these issues to light with an employer can be a daunting idea that many
                            fear will lead to their relationships with co-workers will changing, their employer seeing
                            them as lazy or less capable, or that their career progress will stall as a result. </p>
                    </div>
                    <div class="d-none d-md-block col-md-4">
                        <img class="cont-img" src="/media/am-img.jpg" alt="Image of people using a laptop">
                    </div>
                </div>
                <h3>What We Do</h3>
                <hr class="orange-underline">
                <div class="row mx-auto content-row">
                    <div class="d-none d-md-block col-md-4">
                        <img class="cont-img" src="/media/cont-wwd.png" alt="Image of people writing">
                    </div>
                    <div class="col-12 col-md-8">
                        <p>Along with our partners, SODA Social, we have created a safe space where employees can
                            anonymously discuss accessibility issues that they face in the work place.
                            <br>
                            <br>
                            This anonymity is vital to ensure that employees feel safe enough to voice there needs
                            without fearing repercussions.
                            <br>
                            <br>
                            Employees can either create their own discussion idea or contribute to one that has already
                            been brought to attention.
                            <br>
                            <br>
                            And employees with no accessibility concerns can join in too. This way, they can be included
                            in the conversation and learn how to work alongside people with disabilities to create an
                            inclusive and welcoming work environment.</p>
                    </div>
                </div>
                <h3>Meet Our Partner</h3>
                <hr class="orange-underline">
                <div class="row mx-auto content-row">
                    <div class="col-12 col-md-8">
                        <p>Our aim is to empower and bring together a diverse community that represents the digital
                            world. We strive to innovate, educate, and inspire future leaders of technology.
                            <br>
                            <br>
                            SODA Social is our pioneering, innovative networking platform and online networking
                            platform, created to bring together digital experts for networking and knowledge-sharing. It
                            allows us – and you – to engage with us and our digital world in a relaxed, informative, and
                            light-hearted way. Our unique initiatives range from panel discussions, talks, and workshop
                            layouts, so keep your eyes peeled for our next initiative, especially as we have a global
                            reach across the UK, Europe, and the US.
                            <br>
                            <br>
                            Our SODA Social initiatives enable our community to discuss and debate hot topics, market
                            trends, opportunities, threats, and all things related to technology. Over-subscribed and
                            cutting-edge, our events are aimed at digital professionals across the Design, DevOps,
                            Software Engineering, Product Management, and Data sectors.
                        </p>
                        <a class="soda-link" href="https://www.soda-social.com/" target="blank"><strong>Visit SODA</strong></a>
                    </div>
                    <div class="d-none d-md-block col-md-4">
                        <img class="cont-soda-img" src="/media/soda-social-logo.png" alt="SodaSocial Logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}