{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid p-0">
    <div class="hero-container">
        <div class="hero-overlay"></div>
        <div class="row hero-content">
            <div class="col-12 col-md-8 col-lg-6 mx-auto inner-cont">
                <h1 class="text-center">USE YOUR VOICE</h1>
                <h2 class="text-center">Shining a Light on the Unseen</h2>
            </div>
        </div>
    </div>
    <div class="home-content">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-7 mx-auto">
                <h3>Accesibility Matters</h3>
                <hr class="orange-underline">
                <div class="row mx-auto content-row">
                    <div class="col-12 col-md-8">
                        <p>Accessibility is about removing barriers to enable people to engage and take part in everyday
                            activities.
                            <br>
                            <br>
                            In the work place this involves reducing and overcoming the barriers that might occur for
                            people with disabilities and includes the digital and physical interactions that staff have
                            in the workplace.
                            <br>
                            <br>
                            This does not imply solely wheelchair access ramps, nor does it mean just having braille
                            signs at a business.
                            <br>
                            <br>
                            Some disabilities hidden and not immediately obvious, such as learning difficulties, mental
                            health as well as mobility, speech, visual or hearing impairments. Working with a hidden
                            disability can make tasks more demanding, but it can be difficult for others to identify,
                            acknowledge or understand the challenges staff face.
                            <br>
                            <br>
                            However, bringing these issues to light with an employer can be a daunting idea that many
                            fear will lead to their relationships with co-workers will changing, their employer seeing
                            them as lazy or less capable, or that their career progress will stall as a result. </p>
                    </div>
                    <div class="d-none d-md-block col-md-4">
                        <img class="cont-img" src="/media/am-img.jpg" alt="Image of people using a laptop">
                    </div>
                </div>
                <h3>What We Do</h3>
                <hr class="orange-underline">
                <div class="row mx-auto content-row">
                    <div class="d-none d-md-block col-md-4">
                        <img class="cont-img" src="/media/cont-wwd.png" alt="Image of people writing">
                    </div>
                    <div class="col-12 col-md-8">
                        <p>Along with our partners, SODA Social, we have created a safe space where employees can
                            anonymously discuss accessibility issues that they face in the work place.
                            <br>
                            <br>
                            This anonymity is vital to ensure that employees feel safe enough to voice there needs
                            without fearing repercussions.
                            <br>
                            <br>
                            Employees can either create their own discussion idea or contribute to one that has already
                            been brought to attention.
                            <br>
                            <br>
                            And employees with no accessibility concerns can join in too. This way, they can be included
                            in the conversation and learn how to work alongside people with disabilities to create an
                            inclusive and welcoming work environment.</p>
                    </div>
                </div>
                <h3>Meet Our Partner</h3>
                <hr class="orange-underline">
                <div class="row mx-auto content-row">
                    <div class="col-12 col-md-8">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum.
                        </p>
                    </div>
                    <div class="d-none d-md-block col-md-4">
                        <img class="cont-soda-img" src="/media/soda-social-logo.png" alt="SodaSocial Logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}