{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="card" style="width: 50%; border: 0em;">
    <div class="card-body">
        <h1>Profile</h1>
        <h3>Name: </h3>
        <p class="main-text" id="profile-text">{{ user_profile.name }}</p>
        <hr>
        <h3>Organisation: </h3>
        <p class="main-text">{{ user_profile.organisation }}</p>
        <hr>
        <h3>Job Title: </h3>
        <p class="main-text">{{ user_profile.job_title }}</p>
        <hr>
    </div>
</div>
{% if request.user.username == user %}
<br>
    <a class="edit-profile" href="{% url 'edit_profile' request.user.username %}">Edit Profile</a>
    {% if board == none %}
      Activate a board!
    {% else %} 
        share your board url: <a href="{% url 'home' %}ideas/board/{{ board }}">Board link</a>
    {% endif %}
{% endif %}
{% endblock %}