{% extends "base.html" %}
{% load static %}

{% block extra_title %}Profile{% endblock %}

{% block content %}

<div class="profile-container">
    <div class="card row" style="width: 50%; border: 0em;">
        <div class="card-body">
            <h1>Profile <span id="user_id">{{user_profile.id}}</span></h1>
            <h2>Name: </h2>
            <p class="main-text" id="profile-text">{{ user_profile.name }}</p>
            <hr>
            <h2>Organisation: </h2>
            <p class="main-text">{{ user_profile.organisation }}</p>
            <hr>
            <h2>Job Title: </h2>
            <p class="main-text">{{ user_profile.job_title }}</p>
            <hr>
        </div>
        <a class="edit-profile" href="{% url 'edit_profile' request.user.username %}">Edit Profile</a>
    </div>

    <br>

    {% if board == none %}

    <form id="boardForm" class="form mb-2">
        <div class="text-center">
            <label for="id_code" class="share-board">Please enter an ID code</label>
            <input type="text" id="id_code" name="id_code" class="col-5">
            <button class="create-board-btn" type="submit" name="action">Create board</button>
        </div>
    </form>

    {% else %}
    <p class="share-board">Share your board url: <a href="{% url 'home' %}ideas/board/{{ board }}"
            class="board-link">Board link</a></p>
    {% endif %}


    {% endblock %}

    {% block page_scripts %}
    <script type="text/javascript" src="{% static 'js/board.js' %}"></script>
    {% endblock %}