@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif !important;
    color: #0E2143;
}

a {
    color: #0E2143;
}

.content {
    min-height: calc(100vh - 270px);
}

/* Palette
Pale off white:
#FFFFC2
Bright yellow/light orange:
#FFC933
Bright Orange:
#FF6600
Bright Blue:
#2B63CA
Darkest Blue:
#0E2143
*/

/* NAVBAR */

.navbar {
    background-color: #0E2143;
    padding: 0;
}

.navbar-brand {
    margin: -10px 10px 3px 10px;
}

.brand-text {
    display: inline-block;
}

.brand-text-cont {
    position: relative;
    top: 15px;
}

.brand-text p {
    font-size: 1.5rem;
}

.navbar-brand p {
    margin: 0;
}

.navbar a {
    color: #FFFFC2;
}

.navbar a:hover {
    color: #FF6600;
    text-decoration: none;
}

.navbar-nav li {
    padding: 0 12px;
}

/* FOOTER */

footer {
    background-color: #0E2143;
    padding: 30px 30px 5px 30px;
    color: #FFFFC2;
    border-top: 3px solid #FF6600;
    margin-top: 20px;
}

.footer-cols {
    margin: 10px 0;
}

footer a {
    color: #FFFFC2;
}

footer a:hover {
    color: #FF6600;
    text-decoration: none;
}

.soda-logo-footer {
    width: 135px;
}

.footer-socials {
    font-size: 3rem;
    display: inline;
}


/* INDEX.HTML */

.container-fluid {
    overflow: hidden;
}

.hero-container {
    background-image: url(/media/hero-img.jpg);
    height: calc(100vh - 40px);
    margin-bottom: 40px;
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    height: calc(100vh - 40px);
    width: 100%;
}

.hero-content {
    z-index: 999;
    position: relative;
    color: #FF6600;
    width: 100vw;
    margin: 0;
}

.inner-cont {
    margin-top: 20vh;
    padding: 0 10px;
}

.hero-content h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5rem;
    text-shadow:
        0 0 21px #FF6600,
        0 0 48px #FF6600;
    font-weight: 300;
    margin-bottom: 20px;
}

.hero-content h2 {
    font-weight: 300;
    color: #FFC933;
}

.home-content h3 {
    text-align: center;
}

.orange-underline {
    border-top: 2px solid #FF6600;
    width: 40%;
    margin: auto;
}

.content-row {
    margin: 10px 0 50px 0;
}

.content-row p {
    text-align: justify;
    text-justify: inter-character;
}

.cont-img {
    max-width: 100%;
    border-radius: 50%;
}

.cont-soda-img {
    max-width: 100%;
}

/* DISCUSSION PAGE*/

#title {
    color: white;
    font-size: 280%;
    text-align: center;
}

/* Topic box */

.topic-container {
    width: 90%;
    background-color: lightgray;
    border: 3px solid white;
    padding: 10px;
    margin: 0 auto;
}

.topic-main {
    width: 100%;
    background-color: darkgray;
    padding: 20px;
}

/* Topic Title */

.topic {
    color: white;
    font-size: 150%;
    width: 60%;
    left: 20px;
}

.like-btn {
    float: right;
    padding-right: 30px
}

/* Topic description */

.topic-content {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Comments made on the topic get displayed here */
.comments-made {
    border: 2px solid;
    background-color: darkgrey;
    padding: 20px;
    margin-bottom: 20px;
}

/* Button to show the comment box */
.btn {
    padding: 20px;
    cursor: pointer;
}

/* Comment box, hidden until the comment button is pressed */

.comment-container {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    background-color: lightgray;
    border: 2px solid white;
    text-align: center;
}

#user-comment {
    width: 80%;
    margin: 20px;
}

.comment-container label {
    font-size: 1.5rem;
}

/* Second topic comment textarea */
#user-comment2 {
    width: 80%;
    margin: 20px;
}

/* This class will hide the comment box until the button is pressed */
/* Currently commented out until javascript in place */
/* .hide {
    display: none;
} */

/*profile*/

.edit-profile {
    font-size: 140%;
    padding-left: 1.5rem;
}

.edit-profile:hover {
    text-decoration: none;
    color: #FF6600
}

#profile-text {
    justify-content: center;
}

.card-body>h1 {
    margin: 1rem 0;
}

.card-body>hr {
    margin: 0.5rem 0;
    color: #FF6600;
}

.card-body>p {
    margin: 0;
    padding-left: 0;
}

/*Edit Profile*/

.edit-profile-btn {
    background-color: #0E2143;
    color: #FFFFC2;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.edit-profile-btn:hover {
    background-color: #FF6600;
    color: #0E2143;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 800px) {
    .ideas {
      padding: 0 10% 0 10%;
    }
  }


@media only screen and (max-width: 560px) {
    .inner-cont h1 {
        font-size: 13vw;
    }
}

@media only screen and (max-width: 425px) {
    .inner-cont h2 {
        font-size: 8vw;
    }
}