{% load static %}

<div class="row mx-auto">
    <div class="col-12 col-md-3 col-lg-6 footer-cols">
        <img class="soda-logo-footer" src="{% static 'img/ss-full-logo.png' %}" alt="SODA Social logo">
    </div>
    <div class="col-12 col-md-3 col-lg-2 footer-cols">
        <p class="footer-col-header">Account</p>
        <ul class="list-unstyled">
            {% if user.is_authenticated %}
            <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
            <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
            {% else %}
            <li><a href="{% url 'account_login' %}">Sign In</a></li>
            <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="col-12 col-md-3 col-lg-2 footer-cols">
        <p class="footer-col-header">Socials</p>
        <ul class="list-unstyled">
            <li class="footer-socials">
                <a href="https://www.facebook.com/" target="blank">
                    <i class="fab fa-facebook-square"></i>
                    <span class="sr-only">Facebook - Opens in new tab</span>
                </a>
            </li>
            <li class="footer-socials">
                <a href="https://www.twitter.com/" target="blank">
                    <i class="fab fa-twitter-square"></i>
                    <span class="sr-only">Twitter - Opens in new tab</span>
                </a>
            </li>
            <li class="footer-socials">
                <a href="https://linkedin.com" target="blank">
                    <i class="fab fa-linkedin"></i>
                    <span class="sr-only">LinkedIn - Opens in new tab</span>
                </a>
            </li>
            <li class="footer-socials">
                <a href="https://www.instagram.com" target="blank">
                    <i class="fab fa-instagram-square"></i>
                    <span class="sr-only">Instagram - Opens in new tab</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-12 col-md-3 col-lg-2 footer-cols address-col">
        <p class="footer-col-header">Contact</p>
        <ul class="list-unstyled">
            <li>Global House</li>
            <li>67 Middlewich Road</li>
            <li>Canterbury</li>
            <li>CT1 2EH</li>
            <li><a href="tel:01632960526">Tel: 01632 960526</a></li>
            <li><a href="mailto:hello@sssp.com">Email: hello@sssp.com</a></li>
        </ul>
    </div>
</div>