{% extends 'base.html' %}
{% load static %}

{% block content %}

<header>
  <h1 id="title">Discussion Board</h1>
</header>

<main>
  <div id="container">
    
    <!-- First Topic board-->
    {% for topic in topic_list %}

      <div class="topic-container">
        <div class="topic-main">
          <span class="topic">{{ topic.title }}</span>
        </div>
        <div class="topic-content">
          <p>{{ topic.description }}</p>
        </div>
        
        <h2>Comments:</h2>
        
        <div class="comments-made">
                    <p>Give verbal as well as written instructions (this also applies to using voicemail rather than, or as well as, written memos)</p>
                </div>
                <button class="btn">Comment</button>
           </div>
           <div class="comment-container hide">
               <label for="user-comment">Enter your comment here:</label>
               <br>
               <textarea id="user-comment" name="user-comment" placeholder="Comment here...." rows="4" cols="50">

               </textarea>
               <br>
               <button class="comment-submit btn">Submit Comment</button>
           </div>
           {% endfor %}

        </div>
    </main>

{% endblock %}

{% block page_scripts %}
  <script type="text/javascript" src="{% static 'js/discussions.js' %}"></script>
{% endblock %}