{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Discussion Board{% endblock %}

{% block content %}

<header>
  <h1 id="title">Discussion Board</h1>
</header>

<div id="container">
    
    <!-- First Topic board-->
    {% for topic in topic_list reversed %}

      <div class="topic-container" id="{{ topic.id }}">
        <div class="topic-main">
          <span class="topic">{{ topic.title }}</span>
        </div>
        <div class="topic-content">
          <p>{{ topic.description }}</p>
        </div>
        
        <h2>Comments:</h2><span id="get_id" hidden>{{user.id}}</span>
        
        <div class="comments-made">
          {% if comments %}
            {% for comment in comments %}
              {% if comment.topic|slugify == topic.title|slugify %}
                <p>{{ comment.content }}</p>
              {% endif %}
            {% endfor %}
          {% else %}
          <p>Give verbal as well as written instructions (this also applies to using voicemail rather than, or as well as, written memos)</p>
          {% endif %}
        </div>
        <button class="btn" onclick="showComments({{ topic.id }});">Add Comment</button>

        <div class="comment-container" id="comments-{{ topic.id }}" hidden>
          <label for="user-comment-{{ topic.id }}">Enter your comment here:</label>
          <br>

          <form id="commentForm" class="form mb-2">
            <div class="text-center">
                <textarea id="user-comment-{{ topic.id }}" name="user-comment" placeholder="Comment here...." rows="4" cols="50"></textarea>
                <br>
                <a class="comment-submit btn" onclick="sendComment('{{topic.id}}')">Submit comment</a>
            </div>
          </form>

        </div>
      </div>
      <hr>
    {% endfor %}
        </div>


{% endblock %}

{% block page_scripts %}
  <script type="text/javascript" src="{% static 'js/discussions.js' %}"></script>
{% endblock %}